<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false" />
  </configSections>
  <log4net>
    <appender name="FileAppender" type="Spotfire.Dxp.Internal.Diagnostics.WebLoggerFileAppender">
      <encoding value="utf-8" />
      <PreserveLogFileNameExtension value="true" />
      <file type="log4net.Util.PatternString" value="../../logs/Spotfire.Dxp.Worker.Host%property{serviceIdWithPeriod}.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="20MB" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="Level;TimeStamp;UTC TimeStamp;ServiceInstanceId;InstanceId;Thread;User;SessionId;Logger;Message&#13;&#10;String;DateTime;DateTime;String;String;String;String;String;String;String&#13;&#10;" />
        <conversionPattern value="%-5level;%date{yyyy-MM-dd'T'HH:mm:ss,fffzzz};%utcdate{ISO8601};%property{serviceId};%property{instanceId};%thread;%property{user};%property{sessionId};%logger;&#34;%message&#34;%newline" />
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <param name="AcceptOnMatch" value="false" />
        <param name="LoggerToMatch" value="WebLogger." />
      </filter>
      <!-- An example how to filter out logging rows that contains a specific string.-->
      <!--<filter type="log4net.Filter.StringMatchFilter">
          <StringToMatch value="Using key store" />
          <acceptOnMatch value="false" />
      </filter>-->      
      <filter type="log4net.Filter.LevelRangeFilter">
        <!-- Don't edit this! Logging level is changed below inside the <root> section. -->
        <levelMin value="INFO" />
        <acceptOnMatch value="true" />
      </filter>
    </appender>

    <appender name="FileAppenderDebug" type="Spotfire.Dxp.Internal.Diagnostics.WebLoggerFileAppender">
      <encoding value="utf-8" />
      <PreserveLogFileNameExtension value="true" />
      <file type="log4net.Util.PatternString" value="../../logs/Spotfire.Dxp.Worker.Host.Debug%property{serviceIdWithPeriod}.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="20" />
      <maximumFileSize value="20MB" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="Level;TimeStamp;UTC TimeStamp;ServiceInstanceId;InstanceId;Thread;User;SessionId;Logger;Message&#13;&#10;String;DateTime;DateTime;String;String;String;String;String;String;String&#13;&#10;" />
        <conversionPattern value="%-5level;%date{yyyy-MM-dd'T'HH:mm:ss,fffzzz};%utcdate{ISO8601};%property{serviceId};%property{instanceId};%thread;%property{user};%property{sessionId};%logger;&#34;%message&#34;%newline" />
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <param name="AcceptOnMatch" value="false" />
        <param name="LoggerToMatch" value="WebLogger." />
      </filter>
      <!-- An example how to filter out logging rows from a specific logger.-->
      <!--<filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="Spotfire.Dxp.Framework.Utilities.ServerLoggerManager" />
        <acceptOnMatch value="false" />
      </filter>-->
    </appender>

    <root>
      <!-- If DEBUG is enabled, two separate log files will be created: -->
      <!-- FileAppenderDebug for all levels and FileAppender with levels down to INFO -->

      <!-- Used this for DEBUG. -->
      <!--
      <level value="DEBUG" />
      <appender-ref ref="FileAppenderDebug" />
      <appender-ref ref="FileAppender" />
      -->
      
      <!-- Or this for INFO. -->
      <!--
      <level value="INFO" />
      <appender-ref ref="FileAppender" />
      -->

      <level value="DEBUG" />
      <appender-ref ref="FileAppenderDebug" />
      <appender-ref ref="FileAppender" />

    </root>

    <!-- Remove comments below to log all Web Service calls to the worker with timing. -->
    <!--<logger name="Spotfire.Dxp.Worker.Services.Web.ServiceBase">-->
    <!--   <level value="TRACE" />-->
    <!--</logger>-->

    <!-- WebLogger logging levels (DEBUG, INFO or OFF) -->

    <!-- Audit log for successful and failed authentications -->
    <appender name="AuditLog" type="Spotfire.Dxp.Internal.Diagnostics.WebLoggerFileAppender">
      <PreserveLogFileNameExtension value="true" />
      <file type="log4net.Util.PatternString" value="../../logs/AuditLog%property{serviceIdWithPeriod}.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="20MB" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="Level;HostName;TimeStamp;UTC TimeStamp;SessionId;IPAddress;UserName;Operation;AnalysisId;Argument;Status;InstanceId;ServiceInstanceId&#13;&#10;String;String;DateTime;DateTime;String;String;String;String;String;String;String;String;String&#13;&#10;" />
        <conversionPattern value="%-5level;%property{hostName};%property{timeStamp};%property{timeStampUtc};%property{sessionId};%property{ipAddress};%property{userName};%property{operation};%property{analysisId};%property{argument};%property{status};%property{instanceId};%property{serviceId}%newline"/>
      </layout>
    </appender>
    <logger name="WebLogger.WebAuditLog" additivity="false">
      <appender-ref ref="AuditLog"/>
      <level value="INFO" />
    </logger>

    <!-- Timing log of started/finished events of various operations -->
    <appender name="TimingLog" type="Spotfire.Dxp.Internal.Diagnostics.WebLoggerFileAppender">
      <PreserveLogFileNameExtension value="true" />
      <file type="log4net.Util.PatternString" value="../../logs/TimingLog%property{serviceIdWithPeriod}.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="20MB" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="Level;HostName;TimeStamp;UTC TimeStamp;EndTime;Duration;SessionId;IPAddress;UserName;Operation;AnalysisId;Argument;Status;InstanceId;ServiceInstanceId&#13;&#10;String;String;DateTime;DateTime;DateTime;Real;String;String;String;String;String;String;String;String;String&#13;&#10;" />
        <conversionPattern value="%-5level;%property{hostName};%property{timeStamp};%property{timeStampUtc};%property{endTime};%property{duration};%property{sessionId};%property{ipAddress};%property{userName};%property{operation};%property{analysisId};%property{argument};%property{status};%property{instanceId};%property{serviceId}%newline"/>
      </layout>
    </appender>
    <logger name="WebLogger.WebTimingLog" additivity="false">
      <appender-ref ref="TimingLog"/>
      <level value="INFO" />
    </logger>

    <!-- Performance counter values -->
    <appender name="PerformanceCounterLog" type="Spotfire.Dxp.Internal.Diagnostics.WebLoggerFileAppender">
      <PreserveLogFileNameExtension value="true" />
      <file type="log4net.Util.PatternString" value="../../logs/PerformanceCounterLog%property{serviceIdWithPeriod}.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="20MB" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="Level;HostName;TimeStamp;UTC TimeStamp;CounterCategory;CounterName;CounterInstance;Value;InstanceId;ServiceInstanceId&#13;&#10;String;String;DateTime;DateTime;String;String;String;Real;String;String&#13;&#10;" />
        <conversionPattern value="%-5level;%property{hostName};%property{timeStamp};%property{timeStampUtc};%property{counterCategory};%property{counterName};%property{counterInstance};%property{counterValue};%property{instanceId};%property{serviceId}%newline" />
      </layout>
    </appender>
    <logger name="WebLogger.PerformanceCounterLog" additivity="false">
      <appender-ref ref="PerformanceCounterLog"/>
      <level value="INFO" />
    </logger>

    <!-- Event log to be used for monitoring -->
    <appender name="MonitoringEventsLog" type="Spotfire.Dxp.Internal.Diagnostics.WebLoggerFileAppender">
      <PreserveLogFileNameExtension value="true" />
      <file type="log4net.Util.PatternString" value="../../logs/MonitoringEventsLog%property{serviceIdWithPeriod}.txt"/>
      <appendToFile value="true"/>
      <!--- The reason to use MinimalLock here is to troubleshoot a situation where more than one process is running with the same service ID. 
            This should never happen but we have seen it in customer logs. The other logs don't have a specified lockingModel to get the 
            default one where only one process can write to the log file to get better performance. -->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="20MB" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="Level;HostName;TimeStamp;UTC TimeStamp;EventType;Argument;Information;InstanceId;ServiceInstanceId;ProcessId&#13;&#10;String;String;DateTime;DateTime;String;String;String;String;String;String&#13;&#10;" />
        <conversionPattern value="%-5level;%property{hostName};%property{timeStamp};%property{timeStampUtc};%property{eventType};%property{argument};%property{information};%property{instanceId};%property{serviceId};%property{pid}%newline"/>
      </layout>
    </appender>
    <logger name="WebLogger.MonitoringEventsLog" additivity="false">
      <appender-ref ref="MonitoringEventsLog"/>
      <level value="INFO" />
    </logger>

    <!-- Incoming Request log -->
    <appender name="RequestLog" type="Spotfire.Dxp.Internal.Diagnostics.WebLoggerFileAppender">
      <PreserveLogFileNameExtension value="true" />
      <file type="log4net.Util.PatternString" value="../../logs/RequestLog%property{serviceIdWithPeriod}.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="20MB" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="Level;HostName;TimeStamp;UTC TimeStamp;InstanceId;ServiceInstanceId;EventType;ServiceName;ServiceFunction;Duration;CountService;CountTotal&#13;&#10;String;String;DateTime;DateTime;String;String;String;String;String;Long;Long;Long&#13;&#10;" />
        <conversionPattern value="%-5level;%property{hostName};%property{timeStamp};%property{timeStampUtc};%property{instanceId};%property{serviceId};%property{eventType};%property{serviceName};%property{serviceFunction};%property{duration};%property{countService};%property{countTotal}%newline"/>
      </layout>
    </appender>
    <logger name="WebLogger.RequestLog" additivity="false">
      <appender-ref ref="RequestLog"/>
      <level value="OFF" />
    </logger>

    <!-- Outgoing Request log -->
    <appender name="OutgoingRequestLog" type="Spotfire.Dxp.Internal.Diagnostics.WebLoggerFileAppender">
      <PreserveLogFileNameExtension value="true" />
      <file type="log4net.Util.PatternString" value="../../logs/OutgoingRequestLog%property{serviceIdWithPeriod}.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="20MB" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="Level;HostName;TimeStamp;UTC TimeStamp;InstanceId;ServiceInstanceId;UserName;SessionId;ServiceName;ServiceFunction;Duration&#13;&#10;String;String;DateTime;DateTime;String;String;String;String;String;String;Long&#13;&#10;" />
        <conversionPattern value="%-5level;%property{hostName};%property{timeStamp};%property{timeStampUtc};%property{instanceId};%property{serviceId};%property{userName};%property{sessionId};%property{serviceName};%property{serviceFunction};%property{duration}%newline"/>
      </layout>
    </appender>
    <logger name="WebLogger.OutgoingRequestLog" additivity="false">
      <appender-ref ref="OutgoingRequestLog"/>
      <level value="OFF" />
    </logger>

    <!-- Query log -->
    <appender name="QueryLog" type="Spotfire.Dxp.Internal.Diagnostics.WebLoggerFileAppender">
      <PreserveLogFileNameExtension value="true" />
      <file type="log4net.Util.PatternString" value="../../logs/QueryLog%property{serviceIdWithPeriod}.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="20MB" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="Level;HostName;TimeStamp;UTC TimeStamp;InstanceId;ServiceInstanceId;QueryId;UserName;Status;DurationMs;RowCount;ColumnCount;DataSourceType;DatabaseServer;Database;DatabaseUser;Analysis;Visualization;Operation;DataSourceInfo;Parameters;QueryString&#13;&#10;String;String;DateTime;DateTime;String;String;String;String;String;Long;Long;Long;String;String;String;String;String;String;String;String;String;String&#13;&#10;" />
        <conversionPattern value="%-5level;%property{hostName};%property{timeStamp};%property{timeStampUtc};%property{instanceId};%property{serviceId};%property{queryId};%property{user};%property{status};%property{duration};%property{rowCount};%property{columnCount};%property{dataSourceType};%property{server};%property{database};%property{databaseUser};%property{analysis};%property{visualization};%property{operation};%property{dataSourceInfo};%property{parameters};%property{queryString}%newline"/>
      </layout>
    </appender>
    <logger name="QueryLogger.QueryLog" additivity="false">
      <appender-ref ref="QueryLog"/>
      <level value="OFF" />
    </logger>

    <!-- A file that contains all DateTimes from the other WebLogger log files.
         Enable this and use it to join the other log files.  -->
    <appender name="DateTimesLog" type="Spotfire.Dxp.Internal.Diagnostics.WebLoggerFileAppender">
      <PreserveLogFileNameExtension value="true" />
      <file type="log4net.Util.PatternString" value="../../logs/DateTimesLog%property{serviceIdWithPeriod}.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="20MB" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="HostName;TimeStamp;UTC TimeStamp;InstanceId;ServiceInstanceId&#13;&#10;String;DateTime;DateTime;String;String&#13;&#10;" />
        <conversionPattern value="%message;%property{serviceId}%newline"/>
      </layout>
    </appender>
    <logger name="WebLogger.DateTimesLog" additivity="false">
      <appender-ref ref="DateTimesLog"/>
      <level value="INFO" />
    </logger>


    <!-- The logging referred by the following appenders will have to be enabled in web.config to generate data. -->

    <!-- Statistics log for document cache information -->
    <appender name="DocumentCacheStatisticsLog" type="Spotfire.Dxp.Internal.Diagnostics.WebLoggerFileAppender">
      <PreserveLogFileNameExtension value="true" />
      <file type="log4net.Util.PatternString" value="../../logs/DocumentCacheStatisticsLog%property{serviceIdWithPeriod}.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="20MB" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="Level;HostName;TimeStamp;UTC TimeStamp;Path;ModifiedOn;ReferenceCount;InstanceId;ServiceInstanceId&#13;&#10;String;String;DateTime;DateTime;String;DateTime;Int;String;String&#13;&#10;" />
        <conversionPattern value="%-5level;%property{hostName};%property{timeStamp};%property{timeStampUtc};%property{path};%property{modifiedOn};%property{referenceCount};%property{instanceId};%property{serviceId}%newline"/>
      </layout>
    </appender>
    <logger name="WebLogger.DocumentCacheStatisticsLog" additivity="false">
      <appender-ref ref="DocumentCacheStatisticsLog"/>
      <level value="INFO" />
    </logger>

    <!-- Statistics log for open files information -->
    <appender name="OpenFilesStatisticsLog" type="Spotfire.Dxp.Internal.Diagnostics.WebLoggerFileAppender">
      <PreserveLogFileNameExtension value="true" />
      <file type="log4net.Util.PatternString" value="../../logs/OpenFilesStatisticsLog%property{serviceIdWithPeriod}.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="20MB" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="Level;HostName;TimeStamp;UTC TimeStamp;SessionId;FilePath;ModifiedOn;FileId;ElapsedTime;InactivityTime;InstanceId;ServiceInstanceId&#13;&#10;String;String;DateTime;DateTime;String;String;String;String;TimeSpan;TimeSpan;String;String&#13;&#10;" />
        <conversionPattern value="%-5level;%property{hostName};%property{timeStamp};%property{timeStampUtc};%property{sessionId};%property{filePath};%property{modifiedOn};%property{fileId};%property{elapsedTime};%property{inactiveTime};%property{instanceId};%property{serviceId}%newline"/>
      </layout>
    </appender>
    <logger name="WebLogger.OpenFilesStatisticsLog" additivity="false">
      <appender-ref ref="OpenFilesStatisticsLog"/>
      <level value="INFO" />
    </logger>

    <!-- Statistics log for user session information -->
    <appender name="UserSessionStatisticsLog" type="Spotfire.Dxp.Internal.Diagnostics.WebLoggerFileAppender">
      <PreserveLogFileNameExtension value="true" />
      <file type="log4net.Util.PatternString" value="../../logs/UserSessionStatisticsLog%property{serviceIdWithPeriod}.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="20MB" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="Level;HostName;TimeStamp;UTC TimeStamp;SessionId;IPAddress;UserName;BrowserType;Cookies;LoggedInDuration;MaxOpenFileCount;OpenFileCount;InstanceId;ServiceId&#13;&#10;String;String;DateTime;DateTime;String;String;String;String;String;TimeSpan;Int;Int;String;String&#13;&#10;" />
        <conversionPattern value="%-5level;%property{hostName};%property{timeStamp};%property{timeStampUtc};%property{sessionId};%property{ipAddress};%property{userName};%property{browserType};%property{cookies};%property{loggedInDuration};%property{maxOpenFilesCount};%property{openFilesCount};%property{instanceId};%property{serviceId}%newline"/>
      </layout>
    </appender>
    <logger name="WebLogger.UserSessionStatisticsLog" additivity="false">
      <appender-ref ref="UserSessionStatisticsLog"/>
      <level value="INFO" />
    </logger>

    <!-- MemoryStatistics Log -->
    <appender name="MemoryStatisticsLog" type="Spotfire.Dxp.Internal.Diagnostics.WebLoggerFileAppender">
      <PreserveLogFileNameExtension value="true" />
      <file type="log4net.Util.PatternString" value="../../logs/MemoryStatisticsLog%property{serviceIdWithPeriod}.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="20MB" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="Level;HostName;TimeStamp;UTC TimeStamp;SessionId;UserName;AnalysisId;TableId;AnalysisPath;Title;Type;Value;InstanceId;ServiceInstanceId&#13;&#10;String;String;DateTime;DateTime;String;String;String;String;String;String;String;Long;String;String&#13;&#10;" />
        <conversionPattern value="%-5level;%property{hostName};%property{timeStamp};%property{timeStampUtc};%property{sessionId};%property{userName};%property{analysisId};%property{tableId};%property{analysisPath};%property{title};%property{type};%property{value};%property{instanceId};%property{serviceId}%newline"/>
      </layout>
    </appender>
    <logger name="WebLogger.MemoryStatisticsLog" additivity="false">
      <appender-ref ref="MemoryStatisticsLog"/>
      <level value="INFO" />
    </logger>
  </log4net>
</configuration>
