<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Spotfire.Dxp.Services.Settings" type="Spotfire.Dxp.Services.ServicesSettings, Spotfire.Dxp.Services, Culture=neutral, PublicKeyToken=789861576bd64dc5"/>
    <section name="Spotfire.Dxp.Worker.Host" type="Spotfire.Dxp.Worker.Host.WorkerHostSettings, Spotfire.Dxp.Worker.Host, Culture=neutral, PublicKeyToken=789861576bd64dc5"/>
  </configSections>

  <!-- Settings for the communication with the TIBCO Spotfire Server -->
  <!-- webSocketsEnabled: controls whether or not to enable web sockets -->
  <Spotfire.Dxp.Services.Settings 
    maxHttpConnectionsPerCore="20" 
    httpLoggingEnabled="false" 
    webSocketsEnabled="true"
    connectionIdleTimeoutSeconds="50"
    ocspTimeoutSeconds="10"
    soapReceivedMessageSizeKb="65536"
    useStreamingSoapServices="false">

    <!-- Set Http logging level for each Log4Net level.
      <netHttpLogging
      System.Net             ="Error;Warning|Info;Warning|Trace;Information"
      System.Net.HttpListener="Error;Error|Info;Error|Trace;Error"
      System.Net.Sockets     ="Error;Warning|Info;Information|Trace;Information"
      System.Net.WebSockets  ="Error;Warning|Info;Information|Trace;Information"
      System.Net.Cache       ="Error;Warning|Info;Warning|Trace;Warning"
      System.Net.Http        ="Error;Warning|Info;Information|Trace;Information" />
     -->

    <!-- hostsToAuthenticate: -->
    <!--   When a web request is made to external external services, if the host is among the ones in this setting, -->
    <!--   the Windows (default) credentials of the executing user is added to the request. -->
    <!--   Note the top domain of the machine running the application is added to the list. -->
    <!--   To allow wildcard matches, start the host name with a star (*), example: *.domain.com. -->
    <!--   The list is a semi-colon (;) separated list. -->
    <!--   Example: "*.a.x.com;srv1.b.x.com;*.y.com;server3" -->
    <!--     This will match <Anything>.a.x.com OR srv1.b.x.com OR <Anything>.y.com OR server3. -->
    <authentication hostsToAuthenticate="" />

  </Spotfire.Dxp.Services.Settings>

  <!-- Settings for the node service application. -->
  <Spotfire.Dxp.Worker.Host>
    <!-- protectSectionEncryptionProvider: The name of the algorithm to use when encrypting sections of the configuration files. -->
    <!--   See https://msdn.microsoft.com/en-us/library/68ze1hb2.aspx for more information. -->
    <cryptography encryptConfigurationSections="false" protectSectionEncryptionProvider="DataProtectionConfigurationProvider" />
  </Spotfire.Dxp.Worker.Host>

</configuration>