<?xml version="1.0"?>
<configuration>
  <!-- To encrypt passwords (Spotfire.Server.Proxy.Password, Spotfire.Authentication.Basic.Password and Spotfire.Authentication.OAuth2.ClientSecret):-->
  <!--   Execute the command Spotfire.Dxp.Automation.ClientJobSender.exe -encryptPassword [-encryptWithUserScope]:-->
  <!--   Add the 'encryptWithUserScope' parameter to encrypt using the current Windows user account, otherwise the machine account is used. -->
  <!--   Note! -->
  <!--     If 'encryptWithUserScope' is used only the encrypting Windows domain user can execute the tool using the encrypted password. -->
  <!--     If 'encryptWithUserScope' is NOT used, only the encrypting machine can execute the tool using the encrypted password. -->

  <!-- Spotfire.Server.RequestTimeoutSeconds -->
  <!-- Timeout in seconds for calls to Spotfire Server. -->
  
  <!-- Spotfire.Server.Proxy.UserName, Spotfire.Server.Proxy.Password -->
  <!-- Username and password for proxy servers using BASIC authentication. -->

  <!-- Spotfire.MaxJobExecutionTimeSeconds -->
  <!--  The maximum number of seconds a job can execute for before the application cancel the job. -->
  <!--  If set to 0 or less, the application will not cancel the job. -->
  
  <!-- Spotfire.Logging.Level -->
  <!-- Set logging level [Debug|Info|Warning|Error|Disabled]. The log file is saved in the same folder as this file. -->

  <!-- Spotfire.AllowedCertificateValidationErrors -->
  <!-- If TLS is enabled on the Spotfire Server, certificate errors can be suppressed by the client. -->
  <!-- Set None, to allow no certificate errors. -->
  <!-- To allow specific errors, set value to any/all of these values, separated by comma: -->
  <!--   RemoteCertificateChainErrors, RemoteCertificateNameMismatch, RemoteCertificateNotAvailable -->
  <!-- For more information see SslPolicyErrors in MSDN (https://msdn.microsoft.com/en-us/library/ms145055.aspx). -->

  <!-- Spotfire.AllowedTlsVersions -->
  <!-- If TLS is enabled on the Spotfire Server, this setting will set the TLS protocols allowed. -->
  <!-- To allow specific protocols for the product add them separated by comma, example: "Tls11, Tls12". -->
  <!-- Possible values: Ssl3, Tls, Tls11, Tls12, Tls13  -->
  <!-- Leave setting empty to use default system settings. -->
  <!-- For more information see SecurityProtocolType in MSDN (https://msdn.microsoft.com/en-us/library/system.net.securityprotocoltype.aspx). -->

  <!-- Spotfire.Authentication.* -->
  <!-- Authentication settings to use when accessing the Spotfire Server. -->
  <!-- Set either basic or client certificate settings depending on the authentication type used in Spotfire Server. -->
  <!-- If Windows authentication (NTLM or Kerberos) is used in TSS, leave settings blank. -->
  <!--   The client will authenticate using the identity of the user that executes the application. -->

  <!-- Basic.* -->
  <!-- If Spotfire server uses basic authentication, set the following settings. -->
  <!--   Username: The username to authenticate with. -->
  <!--   Password: The password to authenticate with. -->

  <!-- ClientCertificate.* -->
  <!-- If Spotfire server uses client certificate authentication, set the following settings. -->
  <!--   Enabled: Set to true when Spotfire Server use Client Certificate Authentication. [true|false]. -->
  <!--   StoreLocation: The store where the certificate is located. [CurrentUser|LocalMachine]. -->
  <!--   StoreName: The name of the store where the certificate is located. [AddressBook|AuthRoot|CertificateAuthority|Disallowed|My|Root|TrustedPeople|TrustedPublisher]. -->
  <!--   SerialNumber: The serial number of the certificate to use.-->

  <!-- OAuth2 -->
  <!-- To use OAut2 to authenticate with the server, create a client id and a client secret using the Spotfire Server command "register-job-sender-client" -->
  <!-- Example: config register-job-sender-client -n <Display name> -->
  <!-- Enter the output of the command into settings ClientId and ClientSecret. -->

  <appSettings>
    <add key="Spotfire.Server.RequestTimeoutSeconds" value="600"/>
    <add key="Spotfire.Server.Proxy.UserName" value=""/>
    <add key="Spotfire.Server.Proxy.Password" value=""/>
    <add key="Spotfire.MaxJobExecutionTimeSeconds" value="-1"/>
    <add key="Spotfire.Logging.Level" value="Info"/>
    <add key="Spotfire.AllowedCertificateValidationErrors" value="RemoteCertificateNameMismatch"/>
    <add key="Spotfire.AllowedTlsVersions" value="Tls, Tls11, Tls12"/>
    <add key="Spotfire.Authentication.Basic.UserName" value=""/>
    <add key="Spotfire.Authentication.Basic.Password" value=""/>
    <add key="Spotfire.Authentication.ClientCertificate.Enabled" value="false"/>
    <add key="Spotfire.Authentication.ClientCertificate.StoreLocation" value=""/>
    <add key="Spotfire.Authentication.ClientCertificate.StoreName" value=""/>
    <add key="Spotfire.Authentication.ClientCertificate.SerialNumber" value=""/>
    <add key="Spotfire.Authentication.OAuth2.ClientId" value=""/>
    <add key="Spotfire.Authentication.OAuth2.ClientSecret" value=""/>
  </appSettings>

  <!-- Do not edit settings below. -->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
